In [25]:
from os import chdir
chdir('/Users/mandymoody/DSI/projects/project_3/')

%matplotlib inline

from lib import *

## Load 2,200 Rows

In [33]:
feat, tar = make_dataframes(count=2200, n=2200, seed=None)

In [31]:
query_verification()

,feat_0000,feat_0001,feat_0002,feat_0003,feat_0004,feat_0005,feat_0006,feat_0007,feat_0008,feat_0009,...,feat_0616,feat_0617,feat_0618,feat_0619,feat_0620,feat_0621,feat_0622,feat_0623,feat_0624,yoda
0,0.27464,0.920072,-0.466942,1.01008,-1.035016,-0.663604,0.199836,-0.825088,-0.022423,0.095568,...,-0.506848,-0.169859,0.412251,-0.075889,-1.363161,-1.427936,0.311629,-0.519703,-0.420634,7232

In [34]:
feat.shape, tar.shape

((2200, 5000), (2200, 1))

In [28]:
feat_df_2200 = pd.DataFrame(feat)

In [29]:
target_df_2200 = pd.DataFrame(tar)

In [18]:
feat_df_2200.to_pickle('2200feature_df.p')

In [24]:
target_df_2200.to_pickle('2200target_df.p')

## Load 5,000 Rows

In [20]:
feat, tar = make_dataframes(count=5000, n=5000, seed=None)

In [21]:
feat.shape, tar.shape

((5000, 5000), (5000, 1))

In [22]:
feat_df_5000 = pd.DataFrame(feat)

In [22]:
target_df_5000 = pd.DataFrame(tar)

In [18]:
feat_df_5000.to_pickle('5000feature_df.p')

In [24]:
target_df_5000.to_pickle('5000target_df.p')

## Load 22,000 Rows

In [20]:
feat, tar = make_dataframes(count=22000, n=22000, seed=None)

In [26]:
feat_df_22000 = pd.DataFrame(feat)

In [27]:
target_df_22000 = pd.DataFrame(tar)

In [18]:
feat_df_22000.to_pickle('22000feature_df.p')

In [24]:
target_df_22000.to_pickle('22000target_df.p')

In [9]:
feat_df_22000.head()

,feat_0000,feat_0001,feat_0002,feat_0003,feat_0004,feat_0005,feat_0006,feat_0007,feat_0008,feat_0009,...,feat_4990,feat_4991,feat_4992,feat_4993,feat_4994,feat_4995,feat_4996,feat_4997,feat_4998,feat_4999
yoda,,,,,,,,,,,,,,,,,,,,,
7,-2.868435,0.298673,0.298632,0.629550,-0.911358,0.064509,-1.572987,-1.132507,-1.030408,-0.237711,...,-0.836410,1.413352,0.774557,1.295665,-0.193203,-0.763113,-1.058454,-3.180881,0.161345,0.450484
23,2.575924,1.460673,1.138399,-0.449900,-0.352072,1.599116,0.312269,0.743898,-0.351476,0.713952,...,-0.204572,-0.412545,1.354626,-1.751579,-1.291017,1.034185,-0.511159,-0.142106,-1.243198,0.240285
35,-2.470595,-0.452331,0.424469,-1.237926,-1.369972,0.930915,1.729998,-0.334317,0.054820,-1.297261,...,-0.529217,-1.038827,2.261175,-0.795463,-0.770396,-0.290951,1.216898,-1.015875,0.662981,0.641607
46,-3.639729,-0.342975,-2.192434,-1.409914,-0.963135,0.999228,1.330254,0.313120,0.661098,-0.963805,...,0.522469,1.321842,0.172951,1.486538,-1.402303,-0.238070,0.306881,-0.292868,1.074286,-0.729741
64,-1.895820,-0.936713,-0.251788,-0.281165,0.638217,0.375981,-1.155577,-0.692148,0.078955,0.409727,...,1.804942,1.202792,0.221495,0.333573,0.707865,1.297714,0.297444,-0.847089,0.891023,-0.430971