In [1]:
from os import chdir
chdir('/Users/mandymoody/DSI/projects/project_3/')

%matplotlib inline

In [2]:
from lib import *

In [20]:
from sklearn.datasets import load_boston

In [10]:
import pandas as pd

In [23]:
test_df = load_boston()

In [29]:
test_df = pd.DataFrame(test_df.data)

In [30]:
test_df.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14