In [1]:
from os import chdir
chdir('/Users/mandymoody/DSI/projects/project_3/')

%matplotlib inline

In [2]:
from lib import *

In [3]:
from sklearn.datasets import make_classification

In [4]:
import pandas as pd

In [5]:
test_df, target = make_classification(n_features=1000, n_informative=50, n_samples=1000)

In [6]:
test_df = pd.DataFrame(test_df)

In [7]:
test_df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,2.547413,0.454271,0.339013,1.030835,0.383488,0.078738,0.913076,-0.368039,0.393757,0.415631,...,0.261649,1.240113,-0.596115,-0.869324,0.656057,0.195818,-1.311082,1.750490,-0.649406,-0.632477
1,-4.977978,-1.068447,-1.499107,0.709807,0.803372,-0.686098,-0.712531,1.454083,1.048651,0.382809,...,-1.122226,-1.048000,1.049848,-0.406300,1.280241,0.195158,-1.403672,-1.813241,2.536720,-0.467498

In [8]:
target = pd.DataFrame(target)

In [9]:
import patsy

from sklearn.linear_model import Ridge, LogisticRegression

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [10]:
lr = LogisticRegression(C=1e10)

In [11]:
lr.fit_transform(test_df, (target.values.ravel()))

/anaconda/lib/python3.6/site-packages/sklearn/utils/deprecation.py:70: DeprecationWarning: Function transform is deprecated; Support to use estimators as feature selectors will be removed in version 0.19. Use SelectFromModel instead.
  warnings.warn(msg, category=DeprecationWarning)

array([[ 0.45427148,  0.33901283,  0.38348803, ..., -0.05066246,
         0.65605674,  0.19581817],
       [-1.06844718, -1.49910741,  0.80337227, ..., -0.30640539,
         1.28024075,  0.19515839],
       [ 1.34053732,  0.73997998,  0.42293037, ...,  0.67072585,
         0.35802999,  0.07290871],
       ...,
       [ 0.55035654, -1.1447255 , -0.36551608, ...,  1.53893929,
         0.21668465,  1.1513091 ],
       [ 0.08179412,  0.72833167,  3.23380769, ...,  0.12291542,
         0.33374989,  1.45489437],
       [ 1.94937032,  0.8999733 ,  0.46052809, ...,  2.31297602,
        -0.3701643 , -1.36339182]])

In [12]:
lr.score(test_df, target)

1.0

In [1]:
import psycopg2
from psycopg2.extras import RealDictCursor
import pandas as pd

In [2]:
COUNT = 220000
HOST = '54.200.77.93'
PORT = '5432'
DATABASE = 'postgres'
PASSWORD = 'postgres'
USER = 'postgres'
SEED = 42

In [3]:
query = '''
        SELECT * 
        FROM madelon_data_1
        WHERE madelon_data_1.yoda in ({});
        '''.format('0')

In [4]:
con = psycopg2.connect(database=DATABASE, port=PORT, user=USER, password=PASSWORD, host=HOST)
cur = con.cursor(cursor_factory=RealDictCursor)
cur.execute(query)
result = cur.fetchall()
con.close()

In [5]:
pd.DataFrame(result).set_index('yoda')

,feat_0000,feat_0001,feat_0002,feat_0003,feat_0004,feat_0005,feat_0006,feat_0007,feat_0008,feat_0009,...,feat_0615,feat_0616,feat_0617,feat_0618,feat_0619,feat_0620,feat_0621,feat_0622,feat_0623,feat_0624
yoda,,,,,,,,,,,,,,,,,,,,,
0,-6.89058,1.898045,-0.081773,-0.211159,-1.89961,0.602261,1.257378,1.106597,-0.911746,-0.378782,...,-0.549621,-0.482523,-0.308728,0.140235,-2.109784,0.712417,-1.693767,0.613437,0.114052,0.219454

In [6]:
def make_query(table_name, yoda_list):
    yoda_list = ','.join([str(yoda) for yoda in yoda_list])
    
    query = '''
            SELECT *
            FROM {}
            WHERE {}.yoda in ({});
            '''.format(table_name, table_name, yoda_list)
    return query

In [7]:
def query_table(table_name, yoda_list):
    query = make_query(table_name, yoda_list)
    con = psycopg2.connect(database=DATABASE, port=PORT, user=USER, password=PASSWORD, host=HOST)
    cur = con.cursor(cursor_factory=RealDictCursor)
    cur.execute(query)
    result = cur.fetchall()
    con.close()
    return pd.DataFrame(result).set_index('yoda')

In [8]:
query_table('madelon_data_1', [0,1,2])

,feat_0000,feat_0001,feat_0002,feat_0003,feat_0004,feat_0005,feat_0006,feat_0007,feat_0008,feat_0009,...,feat_0615,feat_0616,feat_0617,feat_0618,feat_0619,feat_0620,feat_0621,feat_0622,feat_0623,feat_0624
yoda,,,,,,,,,,,,,,,,,,,,,
0,-6.890580,1.898045,-0.081773,-0.211159,-1.899610,0.602261,1.257378,1.106597,-0.911746,-0.378782,...,-0.549621,-0.482523,-0.308728,0.140235,-2.109784,0.712417,-1.693767,0.613437,0.114052,0.219454
1,2.836983,0.468780,-3.557848,0.253684,1.493863,-0.616160,0.006989,0.576280,-0.694593,1.965929,...,0.476782,0.087358,-0.715945,-0.955371,1.420939,0.606979,-1.607707,0.831395,-0.057999,1.848914
2,7.872049,-0.403441,-0.112700,1.381223,1.034884,0.902558,-0.788522,-0.135428,0.575735,-0.770869,...,-1.110917,-0.808714,-0.298813,-0.121191,-0.624334,-0.572492,2.302945,0.013287,-0.159020,0.213324

In [9]:
TABLES = {i:'madelon_data_{}'.format(i) for i in range(1,9)}
TABLES

{1: 'madelon_data_1',
 2: 'madelon_data_2',
 3: 'madelon_data_3',
 4: 'madelon_data_4',
 5: 'madelon_data_5',
 6: 'madelon_data_6',
 7: 'madelon_data_7',
 8: 'madelon_data_8'}

In [10]:
def get_data(yodas):
    dfs = []
    for table in range(1,9):
        dfs.append(query_table(TABLES[table], yodas))
        
    merged = pd.concat(dfs, axis=1)
    return merged

In [11]:
test = get_data([1,2,3])

In [12]:
test

,feat_0000,feat_0001,feat_0002,feat_0003,feat_0004,feat_0005,feat_0006,feat_0007,feat_0008,feat_0009,...,feat_4990,feat_4991,feat_4992,feat_4993,feat_4994,feat_4995,feat_4996,feat_4997,feat_4998,feat_4999
yoda,,,,,,,,,,,,,,,,,,,,,
1,2.836983,0.468780,-3.557848,0.253684,1.493863,-0.616160,0.006989,0.576280,-0.694593,1.965929,...,0.127546,-0.804609,1.053465,-1.142528,-0.850633,-0.456611,-1.368771,-0.121254,1.839091,-0.385779
2,7.872049,-0.403441,-0.112700,1.381223,1.034884,0.902558,-0.788522,-0.135428,0.575735,-0.770869,...,0.001346,0.511870,0.011579,-1.631434,0.199908,-1.075231,-1.192241,0.235938,-0.707320,-0.088669
3,-1.306599,-0.126873,-1.776510,0.430761,0.428714,0.579034,-0.057546,-0.021347,-0.112300,-0.417874,...,-0.969493,-0.486911,0.510224,-0.525300,1.433065,0.514432,-0.874046,0.740881,0.551109,-0.955274

In [49]:
class project3tool(object):
    
    def __init__(self,
                COUNT = 220000,
                HOST = '54.200.77.93',
                PORT = '5432',
                DATABASE = 'postgres',
                PASSWORD = 'postgres',
                USER = 'postgres',
                SEED = 42):
        
        self.COUNT = COUNT
        self.HOST = HOST
        self.PORT = PORT
        self.DATABASE = DATABASE
        self.PASSWORD = PASSWORD
        self.USER = USER
        self.SEED = SEED
        self.TABLES = {i:'madelon_data_{}'.format(i) for i in range(1,9)}
        self.POSITION = 0
        
    def make_query(self, table_name, yoda_list):
        
        yoda_list = ','.join([str(yoda) for yoda in yoda_list])
        
        query = '''
                SELECT *
                FROM {}
                WHERE {}.yoda in ({});
                '''.format(table_name, table_name, yoda_list)
        return query    
       
    def query_table(self, table_name, yoda_list):
        
        query = self.make_query(table_name, yoda_list)
        con = psycopg2.connect(database=self.DATABASE, 
                               port=self.PORT, 
                               user=self.USER, 
                               password=self.PASSWORD, 
                               host=self.HOST)
        cur = con.cursor(cursor_factory=RealDictCursor)
        cur.execute(query)
        result = cur.fetchall()
        con.close()
        
        return pd.DataFrame(result).set_index('yoda')  
    
    def get_data(self, yodas):
       
        dfs = []
        for table in range(1,9):
            dfs.append(self.query_table(self.TABLES[table], yodas))
            
        merged = pd.concat(dfs, axis=1)
        
        target = self.query_table('madelon_target', yodas)
        
        return merged, target
    
    def load_sequential(self, n = 100, position = None):
        
        if not position:
            pos = self.POSITION
        else:
            pos = position
        
        data, target = self.get_data(range(pos, pos+n))
        if not position: 
            self.POSITION += n
        return data, target
    
    def reset_position(self):
        self.POSITION =0

In [50]:
p = project3tool

In [51]:
p.load_sequential([1,2,3])

AttributeError: 'list' object has no attribute 'POSITION'

In [33]:
from sklearn.preprocessing import StandardScaler

In [34]:
scaler = StandardScaler()

In [42]:
while p.POSITION < 1000:
    data, target = p.load_sequential()
    scaler.partial_fit(data)
    print(p.POSITION)

AttributeError: type object 'project3tool' has no attribute 'POSITION'

In [46]:
p.reset_position()

TypeError: reset_position() missing 1 required positional argument: 'self'

In [48]:
from sklearn.decomposition import IncrementalPCA

In [13]:
lr = LogisticRegression(penalty='11', C=20, warm_start=True)

In [ ]:
while p.POSITION < 1000:
    data, target = p.load_sequential()
    lr.fit(data, target.values.ravel())
    print(p.POSITION)

In [ ]:
lr.coef_[abs(lr.coef_) > 0].shape

In [ ]:
lr.coef_[0]

In [ ]:
lrcoefs = list(zip(data.columns), )

In [ ]:
from lib.p3tool